<% layout('/layout/main')%> 
<% block('title', 'My Blog')%>

<div class="p-10 flex justify-around items-center flex-wrap gap-5">
    <h1 class="font-cormorant text-6xl ">My Blog</h1>
    <form action="/blog" method="get" class="relative h-8 flex justify-center">
        <input type="text" name="search" autofocus placeholder="Search" class="text-lg h-full px-2 outline-none ring-0 shadow-md">
        <button type="submit" class="bg-red-800 text-white py-1 px-2 text-base h-full hover:bg-red-950 shadow-md hover:shadow-xl ">Search</button>
    </form>
</div>


<div class="max-w-[1024px] m-auto grid grid-cols-6 gap-5 p-4 pt-10 border-t-2  border-dashed border-black">
    <% for(let [index,data] of posts.entries() || []){  %>
        <article class="md:col-span-3 col-span-6 shadow-lg bg-white p-4 flex flex-col gap-2 hover:bg-gray-200 transition-all group">
            <a href="/posts/<%=data.id%>">
                <img height="500" width="1000" loading="lazy" src="/public/<%=data.image%>" class="aspect-video h-max group-hover:opacity-90" alt="">
            </a>
            <p class="text-sm bg-red-800 w-fit px-2 py-1 rounded-[1rem] font-semibold text-white uppercase"><%=data.category%></p>
            <h2 class="m-0 font-cormorant">
                <a href="/posts/<%=data.id%>">
                    <%=data.title%>
                </a>
            </h2>
        </article>
    <%} %>
</div>

<% if(posts.length === 0) { -%>
    <p class="w-full text-center font-poppins text-lg">No posts yet...
        <a href="/blog" class="underline">go back</a>
    </p>
<% } -%>


<% if(posts.length !== 0) { -%>
<div class="w-full flex justify-center gap-5 mt-5 pb-10">

    <% if(index > 1) { -%>
        <a href="/blog?index=<%= index-2 %>&search=<%=  searchParams %>"  class="text-lg bg-gray-300 py-2 px-4 text-white font-semibold rounded-full hover:bg-gray-400 transition-all shadow-lg"><%= index-1 %> </a>
    <% } -%>
    

    <a href="/blog?index=<%= index %>&search=<%=  searchParams %>" class="text-lg bg-red-800 py-2 px-4 rounded-full hover:bg-red-900 text-white font-semibold shadow-lg"><%= index+1 %> </a>
    
</div>
<% } -%>