<% layout('/layout/main')%> 
<% block('title', post.title)%>


<div class="w-full min-h-screen  bg-cover bg-fixed backdrop-blur-sm bg-blend-darken">
    <div class="max-w-[1024px] m-auto shadow-xl">
        <img src="/public/<%= post.image %>" width="1000" height="500" alt="<%= post.title %>" class="h-[30vh] object-cover w-full">
        <article class="md:px-20 px-5 py-4 bg-white">
            <div>
                <h1 class=" font-cormorant md:text-9xl text-6xl py-4 "><%= post.title %></h1>
                <div class="flex flex-wrap gap-5 border-b-2 pb-8 border-dashed border-zinc-700">
                    <div class="flex items-center gap-2">
                        <p class="text-sm bg-red-800 w-fit px-2 py-1 rounded-[1rem] font-semibold text-white uppercase"><%=post.category%></p>
                        <% if(user && user.email === "rodrigocralha@gmail.com"){ -%>
                            <form action="/posts/delete/<%= post.id %>" method="post" class="h-fit w-fit flex items-center" onsubmit="(e) => {e.preventDefault()}">
                                <button type="submit" class="text-sm bg-red-500 w-fit px-2 py-1 rounded-[1rem] font-semibold text-white uppercase">
                                    Delete
                                </button>
                            </form>
                            <button id="edit-button" class="text-sm bg-yellow-500 w-fit px-2 py-1 rounded-[1rem] font-semibold text-white uppercase">Edit</button>
                        <% } -%>
                    </div>
    
                    <p class="text-lg">Posted at: <span  class=" text-red-700 font-poppins italic"><%= post.created_at.toLocaleString('en-GB', { timeZone: 'UTC' }) %></span></p>
    
                </div>
            </div>
            <div class="py-20">
                <form action="/posts/edit/<%= post.id %>" class="hidden" method="post"  id="content-edit">
                    <textarea name="content" cols="30" rows="10" ><%= post.content %></textarea>
                    <button type="submit" class="bg-blue-400 p-2 shadow-lg text-lg text-white hover:bg-blue-500">Save</button>
                </form>
                <md-block id="content-field" class="text-gray-800 text-xl mt-4 prose md:prose-lg prose-sm font-poppins"><%= post.content %></md-block>
            </div>
        </article>
    </div>
</div>

<script defer>
    const editButton = document.getElementById('edit-button');

    editButton.addEventListener('click', () => {
        const contentField = document.getElementById('content-field');
        const contentEdit = document.getElementById('content-edit');

        contentField.classList.toggle('hidden');
        contentEdit.classList.toggle('hidden');
        contentEdit.classList.toggle('block');
    })
</script>